.wa-app {
  display: flex;
  height: 100vh;
}

.wa-app > div {
  border-right: 1px solid #eee;
}

.ai-chatbox {
  width: 350px;      /* FIXED WIDTH */
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}
.wa-header-right button {
  color: white;
  opacity: 0.8;
}

.wa-header-right button:hover {
  opacity: 1;
}


.video-call-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 420px;
  height: 100vh;
  background: #111;
  z-index: 9999;
  border-left: 2px solid #444;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
